.markdown-reading-view:before,
.cm-editor:before {
	content: '';
	background-blend-mode: overlay;
	background-repeat: repeat;
	background-position: var(--cat-background-position);
	background-size: var(--cat-background-image-size);
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: var(--cat-background-image);
	opacity: var(--cat-background-opacity);
	filter: var(--cat-background-bluriness);
}

.markdown-reading-view,
.cm-editor .cm-contentContainer {
	background: var(--cat-background-input-contrast);
}

.cm-editor .cm-contentContainer {
	padding-left: var(--cat-background-line-padding);
	padding-right: var(--cat-background-line-padding);
}
